<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header"></head>

<body>

	<nav th:replace="common/navbar :: navbar"></nav>

	<div class="container">

		<div class="starter-template">
			<h1>EMR Clusters</h1>
			<form action="#" data-th-action="@{/refresh_emr_clusters}" method="post">
				<button type="submit" name="action" value="refresh_emr_list">Refresh EMR List</button>
			</form>
		</div>

		<span th:text="${emrClusterList}"></span>

		<div>
			<p>List of clusters</p>
			<table>
				<tr>
					<th>Name</th>
					<th>JobFlowId</th>
					<th>Run Time?</th>
				</tr>
				<tr th:each="emr : ${emrClusterList}">
					<td th:text="${emr.name}"> </td>
					<td><a th:href="@{/cluster_details/details(jobFlowId=${emr.jobFlowId})}" th:text="${emr.jobFlowId}"></a></td>
				</tr>
			</table>
		</div>

	</div>
	<!-- /.container -->

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>