<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header"></head>

<body>

	<nav th:replace="common/navbar :: navbar"></nav>

	<div class="container">

		<div class="starter-template">
			<h4>Cluster Details for <span th:text="${emrClusterDetails.name}"></span></h4>
		</div>


		<form th:action="@{/emr_step_action}" th:method="post" th:object="${emrClusterDetails}">
			<input type="text" th:field="${emrClusterDetails}" />
			<div>
			<table>
				<tr>
					<th>Name</th>
					<th>JobFlowId</th>
					<th>DNS</th>
					<th>Cluster Size</th>
					<th>SparkVersion</th>
				</tr>
				<tr>
					<th th:text="${emrClusterDetails.name}"></th>
					<th th:text="${emrClusterDetails.jobFlowId}"></th>
					<th th:text="${emrClusterDetails.masterDns}"></th>
					<th th:text="${emrClusterDetails.status}"></th>
					<!--<p th:text="emrClusterDetails.sparkVersion"></p>-->
					<!--<p th:text="emrClusterDetails.clusterSize"></p>-->
				</tr>
			</table>
		</div>
		<div>
			<p>Memory Details:</p>
			<span>Output df -h here - per day though - pull files from S3 instead?</span>
		</div>
			Steps
			<table>
				<tr>
					<th>Step Id</th>
					<th>Status</th>
					<th>Jar</th>
					<th>Kill Task</th>
					<th>Clone Task</th>
				</tr>
				<tr th:each="step : ${emrClusterDetails.stepSummaryList}">
					<td th:text="${step.stepId}"> </td>
					<td th:text="${step.status}"> </td>
					<td th:text="${step.jar}"> </td>
					<td><button type="submit" name="action" value="kill_step">Kill</button></td>
					<td><button type="submit" name="action" value="clone_step">Clone</button></td>
				</tr>

			</table>
		</form>
	</div>
	<!-- /.container -->

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>