<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header"></head>
<body>

<nav th:replace="common/navbar :: navbar"></nav>

	<div class="container">

		<div class="starter-template">
			<h1>A header</h1>
			<h2>
				URL: <span th:text="${url}"></span>
				Exception: <span th:text="${exception}"></span>
			</h2>
		</div>


	</div>
	<!-- /.container -->

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>