<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header"></head>
<body>
	<nav th:replace="common/navbar :: navbar"></nav>

	<div class="container">
		<div class="starter-template">
			<span th:text="${message}"></span>
			<h4>Action A</h4>
		</div>

		<div>
			<span>Action B</span>
		</div>

	</div>
	<!-- /.container -->

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>