<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header"></head>
<body>

<nav th:replace="common/navbar :: navbar"></nav>

	<div class="container">

		<div class="starter-template">
			<h4>
				<span th:text="${message}"></span>
				<!--<span th:text="'Message: ' + ${message}"></span>-->
			</h4>
		</div>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/Gu5JdmsLWVk"
				frameborder="0">

		</iframe>



	</div>
	<!-- /.container -->

	<script type="text/javascript"
		src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>